<!-- inherit from base.html-->

{% extends "skatepark_app/base_template.html" %}

{% load static %}
<!-- Replace block content in base_template.html -->
{% block content %}

<h1>Colorado Skate Search</h1>
<h5 style="color:darkslateblue; font-family:verdana;">The official website where users can share and rate skateparks in Colorado!</h5>
<a href="/addSkatePark" class="btn btn-primary active btn-lg">Create Skatepark</a>
<br>
<img src="{% static 'images/skater_guy.jpg' %}"  alt="Boy riding a skateboard">

{% endblock %}
