<!-- inherit from base.html-->
{% extends "skatepark_app/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}

<h1>CO Skate Search</h1>
<a href="/addSkatePark" class="btn btn-primary active btn-lg">Create Skatepark</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Difficulty</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in skatepark_objects %}
        <tr>
            <td>{{ obj.name }}</td>
            <td>{{ obj.location }}</td>
            <td>{{ obj.difficulty }}</td>
            <td>
                <a type="button" class="btn btn-primary" href="{{obj.portfolio.get_absolute_url}}/{{obj.id}}">More Details</a>
            </td>
    
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}