{% extends 'skatepark_app/base_template.html' %}
{%load static%}
{% block content %}

<script> 
  let map;
  function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: -34.397, lng: 150.644 },
      zoom: 8,
  });
  }
  window.initMap = initMap;

</script>


<h2 style="color:navy; font-size=30px;">{{ skate.name }}</h2>

<ul>
 <li style="color:rebeccapurple; font-size:20px">Location: {{ skate.location }}</li>
 <li style="color:rebeccapurple; font-size:20px">Difficulty: {{ skate.difficulty }}</li>
 <li style="color:rebeccapurple; font-size:20px">Rating: {{ skate.rating }}</li>
      
 
 
 <a href="{% url 'skatepark-update' skate.id %}" class="btn btn-warning">Edit Entry</a>
 <a href="{% url 'skatepark-delete' skate.id %}" class="btn btn-danger">Delete Entry</a>
 <a href="" class="btn btn-danger">Add A Review</a>
  </ul>
</ul>

<div id="map" ></div>
<script
   src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly" defer></script>

  

{% endblock %}